.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ff00ea;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ff00ea;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #ff00ea;
}

.label {
    -fx-text-fill: #ffffff;
}

.list-view {
    -fx-background-color: #1a001a; /* Very dark purple */
    -fx-text-fill: #ffffff;
    -fx-border-color: #ff00ea;
    -fx-border-width: 2px;
}

.list-view .list-cell {
    -fx-background-color: #1a001a; /* Very dark purple */
    -fx-text-fill: #ffffff;
}