
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.example.CalculationTest.txt
target/surefire-reports/TEST-com.example.CalculationTest.xml
